
*.local

CloudCode/.parse.project

Resolution/Resolution.xcconfig

Bolts.framework/*

Parse.framework/*

ParseUI.framework/*

ParseFacebookUtils.framework/*

ParseFacebookUtilsV4.framework/*

ParseTwitterUtils.framework/*

FacebookSDKs-iOS-20151111/*
